<!DOCTYPE html>
<html lang="en"
th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
<title>home Page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nostrum laudantium dolores facilis eum quidem beatae eveniet maiores, deserunt at sint ullam autem id veniam voluptates obcaecati quod. Perferendis, commodi!</p>
    </div>
    <script>
        console.log("home page")
    </script>
    <script>
        console.log("home script")
    </script>
</body>
</html>