<!DOCTYPE html>
<html lang="en"
th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
<title>Services Page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services Page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore accusamus excepturi sapiente error numquam. Perferendis modi voluptas perspiciatis, quia dolorum deleniti iusto incidunt error! Optio reiciendis eaque minima totam ullam.</p>
    </section>
    <script>
        console.log("services script")
    </script>
</body>
</html>